
<div class="row">
    <div class="col-md-4">
        <br>
        <img class="img-responsive" src="~/Content/hg-logo-sm.png" alt="Hour Glass Image">
    </div>
    <!--customizable for company brand-->
    <div class="col-md-6">
        <br>
        <h1>What can it do for you?</h1>
        <p style="font-size: large;">
            TimeSheet is a simple online solution that allows contract associates to easily
            record payroll hours from remote client locations.  Timesheet allows consulting firms to easily collect
            payroll hours from a centralized source.
        </p>
        <p>
            <ul>
                <li>Simple</li>
                <li>Intuitive</li>
                <li>Secure SSL encryption ensures privacy and compliance to HIPAA</li>
                <li>Utilizes the latest Microsoft cloud-based technology</li>
            </ul>
        </p>
    </div>
</div>
<img class="img-responsive" src="~/Content/people.jpg" alt="Hour Glass Image">

<p>
    Email for more information on how TimeSeet can work for you.
    <a href="mailto:contact@TimeSheet.com">contact@TimeSheet.com</a>

</p>