
@{
    ViewBag.Title = "AssociateView";
}


<h2>My Time Sheet</h2>

<br/> 
<h3>The user may only see his/her own records. AJAX calls will go here to demonstrate a live query the web server for the following: </h3>
<ul>
    <li>Only the current logged in user records</li>
    <li>Only records within the last 10 days</li>


</ul>


<div>
    @Html.ActionLink("Back to Enter Hours", "Create")
</div>
